@import "reset.css";

#myCanvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#drawingCanvas {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.btn {
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.mother {
  box-sizing: border-box;
  width: 775px;
  height: 590px;
  padding: 50px 50px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-bar h1 {
  font-size: 32px;
  font-weight: 600;
}

.top-bar .save-btn {
  background-color: white;
  font-size: 26px;
  padding: 5px 20px;
  border-radius: 20px;
}

.palette {
  align-self: flex-end;
  margin-top: 18px;
  margin-right: 5px;

  width: 75px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette__color-palette {
  width: 75px;
  height: 255px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.palette__color-chip {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #d76349;
}

.palette__color-chip:nth-child(1) {
  background-color: #fa5d1e;
}
.palette__color-chip:nth-child(2) {
  background-color: #fbd43b;
}
.palette__color-chip:nth-child(3) {
  background-color: #f5cdbf;
}
.palette__color-chip:nth-child(4) {
  background-color: #fa9c4f;
}
.palette__color-chip:nth-child(5) {
  background-color: #5283dc;
}
.palette__color-chip:nth-child(6) {
  background-color: #a6573b;
}
.palette__color-chip:nth-child(7) {
  background-color: #9ba8c8;
}
.palette__color-chip:nth-child(8) {
  background-color: #da8979;
}
.palette__color-chip:nth-child(9) {
  background-color: #ec240d;
}
.palette__color-chip:nth-child(10) {
  background-color: #3f2322;
}
.palette__color-chip:nth-child(11) {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.palette__color-chip:nth-child(12) {
  background: linear-gradient(to bottom right, #5283dc, #fbd43b);
  appearance: none;
}
.palette__color-chip:nth-child(12)::-webkit-color-swatch {
  width: 0px;
  height: 0px;
  border: 0;
}
.palette__color-chip:nth-child(12)::-moz-color-swatch {
  width: 0px;
  height: 0px;
  border: 0;
}

.palette__stroke-width {
  margin-top: 20px;
  width: 75px;
}

.palette__stroke-fill-toggle {
  margin-top: 10px;

  height: 35px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.palette__stroke-fill-toggle div {
  height: 100%;
  width: 100%;

  border: 1px solid #fc481f;
  background-color: #fe856a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.palette__stroke-fill-toggle div:first-child {
  border-radius: 12px 0px 0px 12px;
}
.palette__stroke-fill-toggle div:last-child {
  border-radius: 0px 12px 12px 0px;
}

.palette__reset {
  margin-top: 15px;

  width: 75px;
  height: 40px;
  background-color: #ec240d;
  border-radius: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bar {
  margin-top: 15px;
  height: 40px;

  display: flex;
  justify-content: space-between;
}

.bottom-bar__text {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom-bar__text-palette {
  height: 100%;

  display: flex;
}

.bottom-bar__text-chip {
  background-color: #f5cdbf;
  margin: 0px 10px;
  width: 50px;
  height: 40px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar__text-chip:first-child {
  margin-left: 0px;
}

.bottom-bar__custom-text {
  box-sizing: border-box;
}

.bottom-bar__custom-text-input {
  height: 38px;
  width: 140px;
  border-radius: 15px;
  border: 0px;
  padding: 0px 13px;
  box-sizing: border-box;
  background-color: #ffece5;

  font-size: large;
  font-weight: 600;
}

.bottom-bar__font-size {
  height: 38px;
  width: 100px;
  margin-left: 5px;

  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 13px;

  text-align: center;
  font-weight: 600;
}

#img-file {
  width: 0;
  height: 0;
}

.bottom-bar__import-img {
  margin-right: 4px;
  width: 75px;
  height: 40px;
  background-color: #5283dc;
  border-radius: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-chip {
  border: 2px solid white;
}

.selected-mode {
  color: white;
  font-weight: 600;
  background-color: #fc481f !important;
}
